.App {

}


.mainContainer {
  margin: 2.5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.Title {
  font-size: 8.5em;
  text-align: center;
  height: auto;
  font-family: 'Montserrat', sans-serif;
}

.TimerContainer {
  margin: 5%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  font-size: 6em;
  /* color: #f59a06; */
}

.ButtonContainer{
  margin: 1%;
  display: flex;
  flex-direction: row;
}

.Button {
  margin: 5%;
  width: 125px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Button:hover {
  cursor: pointer;
}

.StartB {
  background-color: green;
}

.StopB {
  background-color: red;
}

.runeTable {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.5em;
}

.runeRow {
  display: flex;
  justify-content: space-around;
  height: 5%;
}
