.App {

}


.mainContainer {
  margin: 2.5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.Title {
  font-size: 6em;
  text-align: center;
  height: auto;
  font-family: 'Montserrat', sans-serif;
  padding: 20px;
  /* border: 5px solid white; */
  text-shadow: horizontal-offset vertical-offset blur color;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.TimerContainer {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  font-size: 6em;
}

.ButtonContainer{
  margin: 1%;
  display: flex;
  flex-direction: row;
}

.Button {
  margin: 5%;
  width: 200px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1), 0 1px 2px rgba(0,0,0,0.24);
}

.Button:hover {
  cursor: pointer;
}

.Button:active {
  box-shadow: 0 0 0;
  transform: translateY(4px);
}

.StartB {
  background-color: #00b159;
}

.StopB {
  background-color: #d11141;
}

.PauseB {
  background-color: #ffc425;
}

.twitchIco {
  margin-left: 1%;
  margin-right: 1%;
}

.runeTable {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.5em;
}

.runeRow {
  height: 5%;
}
